* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*? CSS Variables */
:root {
  --orange: #ff7623;
  --orange-light: #f2994a;
  --orange-dark: rgb(173, 62, 62);
  --gray-light: #f5f5f5;
  --gray-medium: #bdbdbd;
  --fume: #4e5150;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--gray-light);
}
/*? Global Icons */
i {
  color: var(--orange);
  padding: 0.5rem;
  cursor: pointer;
}


#headicon:hover {
  color: white;
  width: 100px;
  height: 80px;
  border-radius: 10px;
  background-color: rgb(182, 182, 182);
}


/** Header */
header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
  background-color: white;
  border-bottom: 1px solid var(--gray-medium);
}



.searchDiv{
  display: inline-block;
  background-color: rgb(218, 218, 218);
  border-radius: 30px;
  padding: .3rem .3rem;


}

.inputSearch{
  padding: .5rem 1.4rem;
  background-color: rgb(218, 218, 218);
  border: none;
  outline: none;
  border-radius: 30px;
  display: inline;
}

.magnifier:hover{

  color: white;
  width: 100px;
  height: 80px;
  border-radius: 10px;
  background-color: rgb(182, 182, 182);
}

/** NAV */
nav {
  padding: 0 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .my-cart {
  font-size: 22px;
  font-weight: 600;
  padding: 1rem;
  color: var(--orange);
}
nav .my-cart span {
  font-weight: 100;
  color: var(--gray-medium);
}
nav .delete-div {
  color: var(--orange);
  font-size: 14px;
}

/** ------- MAIN --------- */
main {
  display: flex;
  align-items:fle;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  padding-bottom: 0;
  gap: 1rem 4rem;
}

/*? Product List section */
main .product-list {
  flex: 4;
  border-radius: 10px;
  background-color: white;
  align-items: last baseline;
  height: 100%;
}
main .product-list .store {
  padding: 1.2rem 0.5rem;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 2px solid var(--gray-light);
}

main .product-list .no-product {
  text-align: center;
  padding: 1rem;
  color: var(--orange-dark);
  font-size: 20px;
}
main .product {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 2px solid var(--gray-light);
}

main .product img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  border: 1px solid var(--gray-medium);
}

main .product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

main .product-info h2 {
  font-size: 16px;
  color: var(--fume);
}

main .product-prices strong {
  color: var(--orange-light);
  font-size: 16px;
  font-weight: 600;
}

main .product-prices .line-through {
  text-decoration: line-through;
  font-size: 12px;
}

.dollar::after {
  content: " $";
}

main .buttons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

main .buttons-div .plus-minus {
  border: 1px solid var(--gray-light);
  border-radius: 50px;
  display: inline-block;
}

main .buttons-div i {
  margin: 0.5rem;
}
main .buttons-div .dollar {
  font-weight: 600;
}
/*? ---- Product List section --- */

main form{

  position: absolute;
  background-color:rgb(219, 218, 218);
  opacity: .7;
  width:50%;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 40px;
}

#form{
  display: none;
}


#summary-section{
   
  background-color: #2e2d2d;
  color: white;
  padding: 2rem;
  border-radius: 15px;
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

}

.text{
  display: flex;
  justify-content: space-between;
}

.div4 {
 font-weight: bold;
 font-size: 1.3rem;
 padding-top: 1rem;
 border-top: 1px solid gray;
 
}

.div5{

  justify-content: center;
  margin-top: 7rem;
 
  
}

#checkoutButton{
text-align: center;
   background-color: #ff7623;
   padding: 1rem;
   border-radius: 10px;
   color: white;
   border: none;
   font-weight: bold;
   
  
}



.no-pro{

  color: black;
 text-align: center;
font-weight: bold;
padding: 3rem 1rem;
font-size: 1.2rem;

}


/*! ------ RESPONSIVE ------- */

@media only screen and (max-width: 800px) {
  main {
    flex-direction: column;
   
  }
  main .price-table {
    flex: 5;
  }
  main .price-table .total-prices {
    flex-direction: row;
    justify-content: space-between;
  }


  #summary-section{
   
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
  
  }

  .div5{
    justify-content: center;
    margin-top: 2rem;
    
  }

  .text{
    display: flex;
    justify-content: space-center;
  }
}

@media only screen and (max-width: 500px) {
  main .price-table .total-prices {

    flex-direction: column;
  }
  main .buttons-div {
    flex-direction: column;
    align-items: flex-start;
  }
  main .buttons-div i {
    margin: 0.2rem;
  }
  main .buttons-div .dollar {
    margin-top: 1rem;
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px) {
  main .product img {
    width: 100px;
    height: 100px;
  }
  main .buttons-div i {
    margin: 0.1rem;
  }


  #summary-section{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
   
  
  }

  nav {
    padding: 1rem 1rem;
    flex-wrap: wrap;
    justify-content:center;
    
  }

  header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: .4rem;
    background-color: white;
    border-bottom: 1px solid var(--gray-medium);
    display: flex;
    justify-content: center;
  }


  .searchDiv{
    display: inline-block;
    background-color: rgb(218, 218, 218);
    border-radius: 30px;
    padding: .3rem .3rem;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  
  
  }
  
  .inputSearch{
    padding: .5rem 1.4rem;
    background-color: rgb(218, 218, 218);
    border: none;
    outline: none;
    border-radius: 30px;
    display: inline;
    width: 100px;
  }
  
  .magnifier:hover{
  
    color: white;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    background-color: rgb(182, 182, 182);
  }
}
